<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">SPECVIS Desktop</h1>

      <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->

      <h2 class="project-tagline"><u>S</u>oftware for <u>Pe</u>rsonal and <u>C</u>linical <u>Vis</u>ion (SPECVIS) Examination, Training and Rehabilitation</h2>
      <p><i>Version for personal (laptops) and stationary (desktops) computers</i></p>

      <!-- <h2 class="project-tagline">Specvis Desktop is a free, open-source and academically verified application designed for visual field examination in humans.</h2> -->

      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="https://github.com/piotrdzwiniel/Specvis/raw/master/latest_build/Specvis_v1_1_1/Specvis.zip" class="btn">Download *.zip</a>
        <a href="https://github.com/piotrdzwiniel/Specvis/raw/master/latest_build/Specvis_v1_1_1/Specvis.tar.gz" class="btn">Download *.tar.gz</a>

        <a href="#Donate" class="btn">Donate</a>

      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        &copy; 2022 Piotr Dzwiniel
      </footer>
    </main>
  </body>
</html>